/* Configurção base para o Site */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: blanchedalmond        ;
}

/* Definindo posições do Formulario e da Imagem */
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Div do formulario */
.container-information{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilização do Placeholder no Formulario */
.container-information ::placeholder{
  text-align: center;
  font-size: 15px;
}

/* Div da imagem */
.container-image{
    width: 50%;
    height: 100%;   
}

/* Div da imagem com a definição do tamanho */
.container-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.la-icon{
    display: flex;

}

.icons{
    justify-content: center;
    text-align: center;
    
}

.Label-descrition{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 25px;
    margin-bottom: 10px;
    
}


/* Inputs */
.inp-Information{
    width: 200px;
    height: 25px;
    border-radius: 20px;
}

/* Botão */
.btn{
    margin-top: 20px;
    height: 30  px;
    width: 100px;
    background-color: bisque;
    border-radius: 15px;
}