/* Configurção base para o Site */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* PAGINA */
.body{
    background-color: blanchedalmond        ;
}

/* PAGINA - PRINCIPIOS */
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

    /* FORMULARIO */
.container-information{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Label-descrition{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 25px;
    margin-bottom: 10px;
    
}

.input-icon{
    display: flex;
    align-items: center;
    gap: 10px;
}

    /* PLACEHODER */
.container-information ::placeholder{
  text-align: center;
  font-size: 15px;
}

    /* IMAGEM */
.container-image{
    width: 50%;
    height: 100%;   
}
.container-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    /* ICONE */
.icon-pad{
    justify-content: center;
    text-align: center;
    font-size: 25px;  
}


    /* INPUTS */
.inp-Information{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}

    /* BOTÃO */
.container-btn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.btn{
    margin-top: 20px;
    height: 30px;
    width: 100px;
    background-color: darkgrey;
    border-radius: 15px;

}